<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <b>Team Name</b>: <%= @team["Team Name"] %>

   <br>

   <b>Coach</b>: <%= @team["Coach"] %>

   <br>

   <b>Point Guard</b>: <%= @team["Point Guard"] %>

   <br>

   <b>Shooting Guard</b>: <%= @team["Shooting Guard"] %>

   <br>

   <b>Small Forward</b>: <%= @team["Small Forward"] %>

   <br>

   <b>Power Forward</b>: <%= @team["Power Forward"] %>

   <br>
   
   <b>Center</b>: <%= @team["Center"] %>
 </body>
</html>
